/* ==========================================================================
Header
========================================================================== */
#social_link
{
    color:#762a2f;
}

#social_button
{
    color:#762a2f;
    font-size:18px;
    padding-right:18px;
    padding-top:15px;
    margin:5px;
}

.col-lg-2{
  padding:10px;
}

.col-half-offset{
    margin-left:4.166666667%
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("./JetBrainsMono-Regular.woff2") format('woff2');
}

body {
    margin-right: 0;
    max-width: 102%;
    overflow-x: hidden;
    background-color: #000022;
    font-family: 'JetBrainsMono', monospace;
}

.nomob {
    display: none;
}

.nodesk {
    display: inline-block;
}

@media (min-width: 600px) and (orientation:landscape) {

    .nomob {
        display: block;
    }

    .nodesk {
        display: none;
    }
}

.main {
    width: 100%;
    margin-left: 0px;
    margin-top: -80px;
    right: 0;
    background-color: #000022;
}

.tag_title,
.tag_details {
    color: rgb(90, 90, 90);
    font-family: 'JetBrainsMono', monospace;
    margin-top:5px;

}
.tag_details
{
    padding:5px;
}
.about_title_track{
    font-size:26px;
}

#notice_banner
{
    background-color:rgb(32, 101, 204);
    color:white;
    font-size:14px;
    padding:5px;
    text-align:center;
    
}

.page-header {
    opacity: 1;
}

.texter,
.navbar-toggler-icon {
    color: rgb(243, 243, 243) !important;
}

.navbar-transparent .logo,
.navbar-transparent .logo span {
    /*display: none;*/
    color: transparent !important;
}

#joinbtn {
    background-color: rgb(83, 109, 254);
    margin: 5px;
}

.logo {
    color: rgb(83, 109, 254);
    font-family: 'JetBrainsMono', monospace;
    font-weight: 500;
    font-size: 16px;
    vertical-align: middle;
}

#fb {
    padding-left: 13px;
    padding-right: 13px;
}

#pro {
    padding-left: 11px;
    padding-right: 11px;
}



.main-raised {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-toggler-icon {
    color: #f0f0f0;
}

#footie {
    color: rgb(210, 210, 210);
    font-size: 20px;
    padding: 5px;
    margin-left: 10px;
}

#heart {
    color: rgb(250, 36, 5);
    padding: 3px;
}


.navbar.fixed-top {
    border-radius: 0;
    padding: 0 !important;
}

#header-text {
    cursor: pointer;
}

#hometop-container {
    text-align: center;
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    z-index:1000;
}

#top_row
{
    background-color:black;
}

.nav-link{
    color: #f0f0f0 !important;
}

.title
{
    font-family: 'JetBrainsMono', monospace;
    margin-top: 5px;
    font-weight: 150;
}
.description
{
    color: #f0f0f0;
    font-family: 'JetBrainsMono', sans-serif;

}

.icon
{
    font-size:30px;
    background:#333232;
    color:white;
    padding:8px;
    border-radius:50px;
    margin:4px;
    padding-left:16px;
    padding-right:16px;

}

#mobile 
{
    background: rgb(65, 67, 70);
}

#details_redirect
{
    font-size: 16px;
    color:rgb(0, 102, 255);
    transition: 0.3s ease;
}

#details_redirect:hover{
    color:rgb(253, 135, 204);
}

/* ==========================================================================
Footer
========================================================================== */
/*
.page-footer {
    font-size: 40px;
    padding-top: 20px;
    color: #fff;
    background-color: rgb(70, 70, 70);
}

.page-footer li a i,
.page-footer1 li a i {

    color: white;
    background-color: rgb(83, 109, 254);
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: 0 6px 8px 1px rgba(0, 0, 0, .18);
}


.footer-container {
    width: 100%;
}

.page-footer {
    text-align: left;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 10%;
    color: #fff;
    background-color: rgb(70, 70, 70);
}

.page-footer1 {
    text-align: left;
    padding-left: 10%;
    font-size: 40px;
    padding-top: 20px;
    color: #fff;
    background-color: rgb(50, 50, 50);
}

*/

/* ==========================================================================
Tooltip
========================================================================== */

.tooltip {
    position: relative;
}

.tooltips:before {
    content: attr(data-text); /* here's the magic */
    position: absolute;
    
    /* vertically center */
    top: 50%;
    transform:translateY(-50%);
    
    /* move to right */
    left: 25%;
    
    /* basic styles */
    padding: 4px;
    background:#111111;
    color: #fff;
    text-align:center;
  
    display:none; /* hide by default */

    font-size: 10px;
    line-height: 1.1;
}

.tooltips:hover:before {
    display:block;
}


/* ==========================================================================
Other color edits
========================================================================== */

#buttons {
    background-color: rgb(52, 109, 241);
    border-radius: 2px;
}

.texter1 {
    color: white;
    background-color: rgb(0, 102, 255);
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
    padding-right: 18px;
    padding-left: 18px;
}

#red_text {
    color: rgb(235, 65, 50);
}

#blue_text {
    color: rgb(52, 133, 255);
}

#green_text {
    color: rgb(252, 189, 0);
}

#orange_text {
    color: rgb(252, 189, 0);
}

@media (max-width: 992px){
    #sectionsNav{
        height: 65px;
    }
}



/* ==========================================================================
Other Pages
========================================================================== */
.header-icon-text {
    top: 6px;
    position: relative;
}

ul {
    padding-left: unset;
}


.textblock
{
    width:85%;
    max-width: 800px;
    margin:auto;
    text-align:left;
    font-size:20px;
    line-height:1.6;
    font-family: 'JetBrainsMono', sans-serif;
}


#section_holder
{
    width:50%;
}


.talk_list {
    list-style-type:none;
}

.talk_list p {
    color: rgb(37, 139, 255);
}

.talk_list a{
    border-left: 2px solid transparent;
    padding-left: 30px;
}

.talk_list a:hover, .talk_list a:active{
    border-left: 2px solid rgb(253, 113, 196);
    border-bottom: 2px solid transparent;
}

.card_content {
    width: 80%;
    margin:  10px auto;
}

.img-dp {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
    object-fit: cover;
    border-radius: 50%;
}

.profile_badge {
    width: 40px;
    height:40px;
    border-radius: 50px;
    background-color: white;
    color: rgb(253, 135, 204);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -70px;
    left: 65%;
}

.profile_badge i {
    font-size: 22px;
}

.highlight_text {
    font-weight: 400;
    color: rgb(37, 139, 255);
    transition: 0.3s ease;
}

.highlight_text:hover,  .highlight_text:active{
    color: rgb(253, 135, 204);
}

.social_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.social_list li {
    position: relative;
    left: -3px;
    margin-right: 15px;
    font-size: 27px;
    color: rgb(37, 139, 255);
    transition: all 0.3s ease;
    /* padding: 5px;
    border: 1px solid red;
    border-radius: 50px; */
}

.social_list li:hover, .social_list li:active {
    color: rgb(253, 113, 196);
}

.stack_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.stack_list li {
    position: relative;
    left: -3px;
    margin-right: 15px;
    font-size: 60px;
    color: rgb(37, 139, 255);
    transition: all 0.3s ease;
    padding-bottom: 12px;
    /* padding: 5px;
    border: 1px solid red;
    border-radius: 50px; */
}

.stack_list li:hover, .stack_list li:active {
    color: rgb(253, 113, 196);
}

.card_stack_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.card_stack_list li {
    position: relative;
    left: -3px;
    margin-right: 15px;
    font-size: 16px;
    color: rgb(220, 220, 220);
    transition: all 0.3s ease;
}

.card_stack_list li:hover, .card_stack_list li:active {
    color: rgb(37, 139, 255);
}


@media (min-width: 320px) and (max-width: 700px) {
  
    .talk_list a {
        padding-left: 0px;
        margin-left: 0px;
    }

    .img-dp {
        margin-top: -20px;
    }
    
    .blog_list {
        border: none;
    }

    .talk_list a:hover, .talk_list a:active{
        border-left: 2px solid transparent;
        border-bottom: 2px solid transparent;
    }
}


  /*------- Scrollbar --------------*/
  body::-webkit-scrollbar {
    width: 0.25rem!important;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #3b6acf!important;
    border-radius: 50px;
  }


  .heart_red {
      color: rgb(255, 109, 72);
  }

  .js_yellow {
      color: rgb(255, 230, 0);
  }

  .cookie_brown {
      color: rgb(172, 103, 46);
  }

  .project_link {
      color: white;
      font-weight: 600;
      font-family: 'JetBrainsMono', sans-serif;
      padding: 6px 10px 6px 15px;
      background-color: #0a0b0f;
      border-radius: 5px;
      transition: all 0.2s ease;
      cursor: pointer;
      position: relative;
      bottom: -25px;
  }
  .project_link i {
      font-size: 16px;
  }

  .project_link:hover, .project_link:active {
      background-color: #0a1327;
      color: white;
  }

  .blog_list {
    border-left: 1px solid rgb(19, 30, 49);
  }

  .float_right {
      position: relative;
      top: -50px;
  }

  #project_list {
      position: relative;
      top: -50px;
  }

  .img-fluid {
      border-radius: 4px;
  }

  .go_right {
      float: right;
      font-size: 11px;
      border-bottom: 2px solid rgb(253, 113, 196);
  }

  .notes_text {
      padding-left: unset;
      border: unset;
      border-bottom: 2px solid rgb(253, 113, 196);
      cursor: pointer;
      color: white;
      transition: all 0.3s ease;
  }

  .notes_text:hover {
      color: rgb(37, 139, 255);
  }

.landing {
    text-align: left;
}

@media (max-width: 576px) {

    .landing {
        text-align: center;
    }
}

@media only screen and (max-width: 700px) {
    .mobile_center {
        padding-left: 10%;
        text-align: center;
        align-items: center;
        align-content: center;
    }
}

/*article css*/
#scrolly {
    position: relative;
    background-color: #f3f3f3;
  }

article {
    position: relative;
    padding: 0;
    padding-bottom: 10%;
    max-width: 50rem;
    margin: 0 auto;
  }

.sticky-thing {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    filter: gray;
    z-index: 0;
    top: 0vh;
    height: 100vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
  }

.img-1 {
    background-image: url("../../assets/img/bg2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
}

.img-2 {
    background-image: url("../../assets/article/edict1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-3 {
    background-image: url("../../assets/article/edict2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-4 {
    background-image: url("../../assets/article/edict3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.img-5 {
    background-image: url("../../assets/article/edict4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-6 {
    background-image: url("../../assets/article/edict5.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-7 {
    background-image: url("../../assets/article/edict6.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-8 {
    background-image: url("../../assets/article/edict7.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

  .sticky-thing p {
    font-size: 8rem;
    font-weight: 100;
    color: #eeeeee;
  }

  .step {
    color: #eeeeee;
    background-color: #000022;
    margin-bottom: 50%;
  }

  .step:last-child {
    margin-bottom: 20%;
  }

  .step.is-active p {
    background-color: #000022;
    color: #eeeeee;
  }

  .step p {
    text-align: center;
    padding: 3rem 6rem;
    font-size: 1.5rem;
  }

.red {
    color: #c4122f;
    font-size: 110%;
}

.red_link:hover {
    color: #cccccc;
}

.main_article {
    padding-left: 10%;
    padding-right: 10%;
}
.main_article p {
    margin-bottom: 4%;
    font-size: 18px;
    line-height: 2em;
}
.main-article h3 {
    margin-bottom: 5%;
}